@charset "utf-8";

body,
p,
form,
input,
button,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none
}

body,
button,
input,
select,
textarea {
    font: 12px "Microsoft YaHei", Helvetica Neue, tahoma, Arial, Verdana, "Hiragino Sans GB", "\5b8b\4f53";
    color: #333;
    -webkit-font-smoothing: antialiased
}

input,
select,
textarea {
    font-size: 100%
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    text-decoration: none;
    color: #ff4040
}

a:active {
    background-color: transparent0
}

a.blue_link {
    color: #06c
}

a.blue_link:hover {
    color: #f60
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0
}

.clearfix {
    *zoom: 1
}

img {
    border: 0 none;
    vertical-align: top
}

em {
    font-style: normal
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.wrap {
    margin: 0 auto;
    width: 1070px
}

.fl {
    float: left
}

.fr {
    float: right
}

.mt {
    margin-top: 10px
}

.ml {
    margin-left: 10px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mb {
    margin-bottom: 10px
}

.none {
    display: none
}

.ellipsis {
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

@charset "UTF-8";

.global_loading {
    background: #FFF url(../images/loading-yhdUpdate_01.gif?62d1166) no-repeat center center
}

@font-face {
    font-family: 'iconfont';
    src: url("../iconfont/iconfont_new.eot?62d1166");
    src: url("../iconfont/iconfont_new.eot?62d1166?#iefix") format("embedded-opentype"), url("../iconfont/iconfont_new.woff?62d1166") format("woff"), url("../iconfont/iconfont_new.ttf") format("truetype"), url("../iconfont/iconfont_new.svg#uxiconfont") format("svg")
}

.hd_iconfont {
    font-family: "iconfont" !important;
    font-size: 14px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .2px;
    -moz-osx-font-smoothing: grayscale
}

a.hd_vip {
    height: 18px;
    padding: 0 8px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    line-height: 18px;
    color: #fff
}

a.hd_vip:hover {
    color: #fff
}

a.hd_vip1 {
    background-color: #ff4040
}

a.hd_vip2 {
    background-color: #a8a8a8
}

a.hd_vip3 {
    background-color: #d8a731
}

a.hd_vip4 {
    background-color: #7081ab
}

a.hd_vip5 {
    background-color: #7a62a4
}

a.hd_vip6 {
    background-color: #d8a731;
    width: 45px;
    padding: 0px 6px 0px 8px
}

.hd_top_bar {
    height: 30px;
    border-bottom: 1px solid #e5e5e5;
    background-color: #f4f4f4;
    line-height: 30px
}

.hd_top_bar .icon {
    display: inline-block;
    vertical-align: middle;
    float: left
}

.hd_top_bar .hd_indxProvce {
    position: relative;
    z-index: 605;
    float: left;
    z-index: 1002
}

.hd_top_bar .text {
    padding-left: 3px
}

.hd_top_bar .hd_topbar_home {
    float: left;
    display: block;
    height: 30px;
    padding-left: 20px;
    color: #666;
    overflow: hidden;
    width: 230px;
    display: inline-block;
    position: relative
}

.hd_top_bar .hd_topbar_home:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_home .icon {
    color: #ff4040
}

.hd_top_bar .hd_topbar_home .hd_topbar_home_ul {
    height: auto;
    top: 0px;
    position: absolute;
    left: 36px
}

.hd_top_bar .hd_topbar_home .hd_topbar_home_ul a {
    display: block
}

.hd_top_bar a.hd_topbar_city,
.hd_top_bar a.hd_topbar_main {
    position: relative;
    float: left;
    display: block;
    height: 30px;
    padding-left: 10px;
    color: #666
}

.hd_top_bar a.hd_topbar_city:hover,
.hd_top_bar a.hd_topbar_main:hover {
    color: #ff4040
}

.hd_top_bar a.hd_topbar_city .icon,
.hd_top_bar a.hd_topbar_main .icon {
    color: #ff4040
}

.hd_top_bar .hd_topbar_city {
    padding-right: 10px
}

.hd_top_bar .hd_topbar_city.active {
    border-bottom: 1px solid #fff;
    background-color: #fff
}

.hd_top_bar .hd_topbar_city.active::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 0px;
    border-left: 1px solid #dbdbdb
}

.hd_top_bar .hd_city_select {
    display: none;
    position: absolute;
    top: 30px;
    left: 0;
    z-index: -1;
    width: 720px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    cursor: default;
    color: #999
}

.hd_top_bar .hd_city_select .hd_city_close {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 20px;
    padding: 5px;
    font-family: "Tahoma";
    font-size: 20px;
    color: #ccc;
    line-height: 20px
}

.hd_top_bar .hd_city_select .hd_cur_city_wrap {
    padding: 15px 20px 0;
    height: 30px
}

.hd_top_bar .hd_city_select .hd_cur_city {
    float: left;
    height: 28px;
    padding-right: 10px;
    line-height: 28px;
    color: #666;
    font-weight: bold
}

.hd_top_bar .hd_city_select .hd_cur_city a {
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    padding: 0 8px;
    color: #e50012;
    line-height: 18px;
    background: #fce5e7
}

.hd_top_bar .hd_city_select .hd_city_search {
    float: left
}

.hd_top_bar .hd_city_select .hd_city_search {
    position: relative
}

.hd_top_bar .hd_city_select .hd_city_input {
    position: relative;
    float: left;
    height: 26px;
    line-height: 26px;
    border: 1px solid #ccc
}

.hd_top_bar .hd_city_select .hd_city_input em {
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 26px;
    text-align: center;
    color: #dcdcdc;
    font-size: 16px
}

.hd_top_bar .hd_city_select .hd_city_input input {
    display: block;
    width: 135px;
    height: 26px;
    *height: 25px;
    padding: 0 8px 0 5px;
    border: 0 none;
    line-height: 26px;
    *line-height: 25px;
    vertical-align: middle;
    color: #333
}

.hd_top_bar .hd_city_select .hd_city_input .hd_citys_close {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 26px;
    padding: 0 10px;
    font-family: "Tahoma";
    font-size: 16px;
    color: #ccc;
    line-height: 26px;
    cursor: pointer
}

.hd_top_bar .hd_city_select .hd_city_suggest {
    display: none;
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 580;
    width: 148px;
    max-height: 168px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    color: #333
}

.hd_top_bar .hd_city_select .hd_city_suggest a {
    display: block;
    height: 28px;
    padding: 0 10px;
    line-height: 28px
}

.hd_top_bar .hd_city_select .hd_hot_city_wrap {
    padding: 12px 0 5px;
    margin: 0 0 0 20px;
    border-bottom: 1px dotted #e0e0e0;
    overflow: hidden;
    line-height: 20px
}

.hd_top_bar .hd_city_select .hd_hot_city_wrap .hd_hot_city {
    float: left;
    padding-right: 10px;
    color: #666;
    font-weight: bold
}

.hd_top_bar .hd_city_select .hd_hotcity_list {
    float: left;
    width: 610px
}

.hd_top_bar .hd_city_select .hd_hotcity_list a {
    float: left;
    padding: 0 25px 5px 0;
    color: #666
}

.hd_top_bar .hd_city_select .hd_hotcity_list a:hover {
    color: #ff4040
}

.hd_top_bar .hd_city_select .hd_letter_search {
    margin: 0 20px;
    padding: 12px 0 0
}

.hd_top_bar .hd_city_select .hd_letter_tit {
    float: left;
    padding-right: 10px;
    color: #666;
    font-weight: bold;
    line-height: 20px
}

.hd_top_bar .hd_city_select .hd_city_initial {
    float: left
}

.hd_top_bar .hd_city_select .hd_city_initial a {
    float: left;
    width: 22px;
    height: 20px;
    margin: 0 5px 5px 0;
    background-color: #eee;
    color: gray;
    text-align: center;
    line-height: 20px;
    font-weight: "Arial"
}

.hd_top_bar .hd_city_select .hd_city_initial a:hover,
.hd_top_bar .hd_city_select .hd_city_initial a.cur {
    background-color: #ff4040;
    color: #fff
}

.hd_top_bar .hd_city_select .hd_city_list {
    position: relative;
    height: 245px;
    overflow: hidden;
    margin: 0 0 10px 20px
}

.hd_top_bar .hd_city_select .hd_city_list ul {
    position: relative;
    height: 215px;
    padding: 10px 0;
    overflow: auto
}

.hd_top_bar .hd_city_select .hd_city_list li {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px
}

.hd_top_bar .hd_city_select .hd_city_list .hd_city_innitial_tit {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 18px;
    font-family: "Arial";
    color: #ccc
}

.hd_top_bar .hd_city_select .hd_city_list a {
    float: left;
    padding: 0 30px 0 0;
    white-space: nowrap;
    color: #666
}

.hd_top_bar .hd_city_select .hd_city_list a:hover {
    color: #ff4040
}

.hd_top_bar .hd_city_select .hd_city_list:after {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 6px;
    content: "";
    background-color: #fff;
    -moz-box-shadow: 0px 7px 13px #fff;
    -webkit-box-shadow: 0px 7px 13px #fff;
    box-shadow: 0px 7px 13px #fff;
    font-size: 0
}

.hd_top_bar .hd_city_select .hd_city_list:before {
    position: absolute;
    bottom: 0;
    left: 0px;
    z-index: 520;
    width: 100%;
    height: 6px;
    content: "";
    background-color: #fff;
    -moz-box-shadow: 0px -7px 13px #fff;
    -webkit-box-shadow: 0px -7px 13px #fff;
    box-shadow: 0px -7px 13px #fff;
    font-size: 0
}

.hd_top_bar .hd_city_select .hd_city {
    float: left
}

.hd_top_bar .hd_city_opacity {
    filter: alpha(opacity=0);
    opacity: 0
}

.hd_top_bar .hd_cur .hd_topbar_city {
    background-color: #fff;
    border-color: #dbdbdb
}

.hd_top_bar .hd_cur .hd_city_select {
    display: block
}

.hd_top_bar .hd_topbar_right {
    float: right;
    color: #666
}

.hd_top_bar .hd_topbar_right ul {
    float: left
}

.hd_top_bar .hd_topbar_right li {
    position: relative;
    z-index: 600;
    float: left;
    height: 30px
}

.hd_top_bar .hd_topbar_right li i.hd_iconfont {
    width: 14px;
    height: 30px;
    display: inline-block;
    line-height: 30px;
    color: #aaa;
    -webkit-transition: -webkit-transform .2s linear;
    transition: -webkit-transform .2s linear;
    -o-transition: -o-transform .2s linear;
    -moz-transition: transform .2s linear, -moz-transform .2s linear;
    transition: transform .2s linear;
    transition: transform .2s linear, -webkit-transform .2s linear, -moz-transform .2s linear, -o-transform .2s linear
}

.hd_top_bar .hd_topbar_right .hd_vip {
    float: left;
    margin: 6px 5px 0 5px
}

.hd_top_bar .hd_topbar_right .hd_downloadapp {
    z-index: 1003
}

.hd_top_bar .hd_topbar_right .hd_menu {
    float: left;
    min-width: 66px;
    _width: 66px;
    height: 30px;
    padding: 0 7px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4
}

.hd_top_bar .hd_topbar_right .hd_menu .icon {
    color: #aaa
}

.hd_top_bar .hd_topbar_right .hd_menu a:hover .icon {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_menu_downloadapp {
    float: left;
    min-width: 66px;
    height: 30px;
    padding: 0 7px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4
}

.hd_top_bar .hd_topbar_right .hd_menu_downloadapp .icon {
    color: #aaa;
    font-size: 16px
}

.hd_top_bar .hd_topbar_right .hd_menu_downloadapp a:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_menu_downloadapp a:hover i {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_unlogin {
    float: left;
    padding: 0 10px
}

.hd_top_bar .hd_topbar_right .hd_unlogin a.hd_login_link {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right a.hd_regist_link {
    color: #aaa;
    padding-left: 8px
}

.hd_top_bar .hd_topbar_right a.hd_regist_link:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_login {
    position: relative;
    z-index: 601;
    float: left;
    padding: 0 10px;
    border-left: 1px solid #f4f4f4;
    border-right: 1px solid #f4f4f4
}

.hd_top_bar .hd_topbar_right .hd_login .hd_login_name_con {
    float: left
}

.hd_top_bar .hd_topbar_right .hd_login .hd_hi {
    float: left;
    cursor: pointer
}

.hd_top_bar .hd_topbar_right .hd_login .hd_login_out {
    font-size: 12px;
    color: #aaa;
    display: none;
    float: left;
    margin: 6px 5px 0px 5px;
    height: 18px;
    padding: 0 8px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    line-height: 18px
}

.hd_top_bar .hd_topbar_right .hd_login .hd_login_out.hd_login_out_ml {
    width: 45px;
    padding: 0px 6px 0px 8px;
    position: relative;
    left: 8px
}

.hd_top_bar .hd_topbar_right .hd_login .hd_login_out:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_login a.hd_login_name {
    float: left;
    max-width: 86px;
    height: 30px;
    overflow: hidden;
    color: #666;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden
}

.hd_top_bar .hd_topbar_right .hd_login a.hd_login_name:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_login .hd_iconfont {
    float: left
}

.hd_top_bar .hd_topbar_right .hd_title a {
    color: #666
}

.hd_top_bar .hd_topbar_right .hd_title a:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_notice {
    white-space: nowrap
}

.hd_top_bar .hd_topbar_right .hd_notice em {
    color: #999
}

.hd_top_bar .hd_topbar_right .hd_notice .hd_has_num {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_menu_list {
    position: absolute;
    top: 29px;
    left: 0px;
    display: none;
    width: 86px;
    *width: 88px;
    padding: 5px 0;
    border: 1px solid #dbdbdb;
    border-top: 0 none;
    background-color: #fff
}

.hd_top_bar .hd_topbar_right .hd_menu_list a {
    display: block;
    padding: 0 0 0 10px;
    line-height: 26px
}

.hd_top_bar .hd_topbar_right .hd_qrcode_bg {
    position: absolute;
    top: 30px;
    left: -20px;
    display: none;
    padding: 15px 9px 9px;
    border: 1px solid #e5e5e5;
    background-color: #fff
}

.hd_top_bar .hd_topbar_right .hd_qrcode_bg .triangle {
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e5e5e5;
    position: absolute;
    top: -7px;
    left: 68px
}

.hd_top_bar .hd_topbar_right .hd_qrcode_bg .triangle:after {
    content: "";
    width: 0;
    height: 0;
    border-top: 0px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: 1px;
    left: -6px
}

.hd_top_bar .hd_topbar_right .hd_qrcode_bg p {
    text-align: center;
    line-height: 12px;
    margin-bottom: 7px
}

.hd_top_bar .hd_topbar_right .hd_qrcode_bg img {
    width: 90px;
    height: 90px
}

.hd_top_bar .hd_topbar_right .hd_user_privilege {
    position: absolute;
    top: 29px;
    left: 0px;
    display: none;
    width: 260px;
    padding: 15px;
    border: 1px solid #dbdbdb;
    background-color: #fff
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a {
    display: block
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a.hd_login_out {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a.hd_login_out:hover {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a.hd_avata_box {
    _display: inline;
    float: left;
    margin-right: 15px;
    padding: 3px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #d9d9d9
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a.hd_avata_box img {
    width: 60px;
    height: 60px;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a.hd_login_name {
    max-width: 156px;
    height: 18px;
    overflow: hidden;
    margin: 10px 0 8px;
    padding: 0;
    line-height: 18px
}

.hd_top_bar .hd_topbar_right .hd_user_privilege a.hd_vip {
    margin: 0
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_tit {
    height: 24px;
    margin-top: 15px;
    border-top: 1px solid #eee;
    text-align: center;
    line-height: 24px
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_tit span {
    position: relative;
    top: -12px;
    padding: 0 10px;
    background-color: #fff
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_tit em {
    color: #ff4040
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_wrap {
    position: relative;
    _zoom: 1
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_list {
    text-align: center
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege {
    position: relative;
    width: 240px;
    height: 64px;
    overflow: hidden;
    margin: 0 auto
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege a {
    display: inline-block;
    width: 60px;
    text-align: center
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege p {
    height: 24px;
    overflow: hidden;
    line-height: 24px
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege .hd_iconfont {
    height: 40px;
    margin: 0 11px;
    font-size: 39px;
    color: #fe503e;
    line-height: 40px
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .prev_btn {
    display: none;
    position: absolute;
    left: -5px;
    top: 20px;
    font-family: "\5b8b\4f53";
    font-size: 16px;
    color: #d6d6d6;
    font-weight: bold
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .next_btn {
    display: none;
    position: absolute;
    right: -5px;
    top: 20px;
    font-family: "\5b8b\4f53";
    font-size: 16px;
    color: #d6d6d6;
    font-weight: bold
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_slide .next_btn {
    display: block
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_slide .prev_btn {
    display: block
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_slide .hd_privilege_list {
    position: absolute;
    top: 0;
    left: 0;
    width: 999px;
    text-align: auto
}

.hd_top_bar .hd_topbar_right .hd_user_privilege .hd_privilege_slide .hd_privilege a {
    float: left
}

.hd_top_bar .hd_topbar_right .hd_cur .hd_login,
.hd_top_bar .hd_topbar_right .hd_cur .hd_menu {
    background-color: #fff;
    border-color: #dbdbdb
}

.hd_top_bar .hd_topbar_right .hd_cur .hd_menu_list,
.hd_top_bar .hd_topbar_right .hd_cur .hd_user_privilege,
.hd_top_bar .hd_topbar_right .hd_cur .hd_qrcode_bg {
    display: block
}

.hd_top_bar .hd_topbar_right .hd_cur i.hd_iconfont {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg)
}

.hd_search_tips_result {
    display: none;
    position: absolute;
    top: 42px;
    left: 20px;
    padding: 5px 0;
    z-index: 1001;
    width: 430px;
    background: #fff;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px
}

.hd_search_tips_result.hd_search_tips_result_global {
    top: 40px;
    width: 420px
}

.hd_search_tips_result ul {
    display: none;
    max-height: 360px;
    overflow-y: auto
}

.hd_search_tips_result li {
    height: 27px
}

.hd_search_tips_result li.search_tip {
    height: auto
}

.hd_search_tips_result li .tip_item {
    height: 27px;
    line-height: 27px
}

.hd_search_tips_result li .tip_item.select {
    background: #f8f8f8
}

.hd_search_tips_result li .tip_item:hover {
    background: #f8f8f8
}

.hd_search_tips_result li .tip_item_name {
    position: relative;
    float: left;
    display: block;
    height: 27px;
    border-right: 0 none;
    color: #333;
    font-size: 12px;
    line-height: 28px;
    padding-left: 12px
}

.hd_search_tips_result li .tip_item_name .name {
    margin: 0 7px
}

.hd_search_tips_result li .tip_item_name:hover {
    color: #333
}

.hd_search_tips_result li .tip_item_count {
    float: right;
    padding-right: 10px;
    overflow: hidden;
    color: #aaa
}

.hd_search_tips_result li .hd_suggest_item {
    position: relative;
    float: left;
    display: block;
    height: 28px;
    border: 1px solid #fff;
    border-right: 0 none;
    color: #333;
    font-size: 12px;
    line-height: 30px;
    padding-left: 12px
}

.hd_search_tips_result li .hd_suggest_item.hd_suggest_item_position {
    position: absolute
}

.hd_search_tips_result li .hd_suggest_item:hover {
    color: #333
}

.hd_search_tips_result li strong {
    margin: 0 7px 0 0;
    color: #ff4040
}

.hd_search_tips_result li.haslist {
    padding-right: 278px
}

.hd_search_tips_result li.haslist s {
    float: left;
    height: 28px;
    margin: 0 12px 0 8px;
    vertical-align: middle;
    text-decoration: none;
    font-family: "\5b8b\4f53"
}

.hd_search_tips_result li.select {
    background: #f8f8f8
}

.hd_search_tips_result li.select .hd_suggest_item {
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    z-index: 520
}

.hd_search_tips_result li.select_haslist {
    background-color: #f8f8f8
}

.hd_search_tips_result li.select_haslist .hd_suggest_item {
    border-color: #f0f0f0;
    background-color: #f8f8f8;
    z-index: 520
}

.hd_search_tips_result li.select_haslist s {
    float: right
}

.hd_search_tips_result li.select a {
    color: #333
}

.hd_search_tips_result li .hd_hot_icon {
    position: absolute;
    right: -22px;
    top: 4px;
    width: 17px;
    height: 11px;
    overflow: hidden;
    background: url(../images/globalhead_sprite.png?62d1166) no-repeat -350px -110px
}

.search_classify_detail {
    width: 280px;
    height: 360px;
    border-left: 1px solid #f0f0f0;
    border-bottom: 1px solid #ccc;
    background: #f8f8f8;
    position: absolute;
    right: 1px;
    top: 1px;
    overflow: hidden;
    z-index: 510;
    display: none
}

.search_classify_detail .hd_classify_name {
    text-align: center;
    line-height: 34px;
    font-size: 14px;
    color: #666;
    font-family: "Microsoft Yahei"
}

.search_classify_none {
    height: 301px;
    *height: 304px;
    width: 198px;
    background: #fff;
    position: absolute;
    left: 232px;
    top: -1px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999
}

.search_classify_detail dl {
    margin: 0
}

.search_classify_detail dt {
    color: #333;
    font-weight: bold;
    margin: 0px 20px;
    line-height: 30px
}

.hd_search_tips_result .search_classify_detail .search_brand dd.s_brand_list {
    height: 48px;
    overflow: hidden;
    margin: 0px 20px
}

.hd_search_tips_result .search_classify_detail .s_brand_list a {
    color: #333;
    font-weight: normal;
    overflow: hidden;
    float: left;
    text-align: left;
    text-indent: 0px;
    height: 24px;
    line-height: 24px;
    margin-right: 14px;
    _display: inline;
    white-space: nowrap
}

.hd_search_tips_result .search_classify_detail .search_brand a:hover {
    color: #c00
}

.hd_search_tips_result .search_classify_detail .s_brand_list a.more {
    color: #999;
    font-family: "SimSun"
}

.hd_search_tips_result .search_classify_detail .s_brand_list a.more:hover {
    color: #C00
}

.search_size dd.s_size_list {
    height: 44px;
    overflow: hidden
}

.hd_search_tips_result .search_classify_detail .s_size_list a {
    color: #666;
    font-weight: normal;
    float: left;
    text-indent: 0px;
    height: 22px;
    line-height: 22px;
    margin-right: 10px
}

.hd_search_tips_result .search_classify_detail .s_size_list a:hover {
    color: #c00
}

.select_haslist .search_classify_detail {
    display: block
}

.search_list_detail {
    height: 301px;
    *height: 304px;
    width: 198px;
    background: #fffaec;
    position: absolute;
    left: 232px;
    top: -1px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-bottom: 1px solid #999;
    display: none;
    overflow: hidden
}

.search_list_detail dl {
    padding: 10px 10px 0px;
    height: 90px
}

.search_list_detail dl.select {
    background: #fff4d7
}

.search_list_detail dt {
    float: left
}

.search_list_detail dt a {
    width: 60px;
    height: 60px;
    display: block;
    border: 1px solid #dbdbdb;
    text-indent: 0px
}

.search_list_detail dd {
    float: left;
    width: 111px
}

.choose_list dt {
    line-height: 30px
}

.choose_list dd {
    margin: 8px 20px 0;
    _display: inline
}

.choose_list .c_list_detail {
    position: relative;
    width: 162px;
    float: right
}

.hd_search_tips_result li a.c_pro_pic {
    width: 60px;
    height: 60px;
    display: block;
    float: left;
    border: 1px solid #e6e4e0;
    text-indent: 0px
}

.choose_list h3 {
    margin-bottom: 8px;
    font-weight: normal
}

.choose_list h3 a {
    display: block;
    max-height: 36px;
    line-height: 18px;
    overflow: hidden;
    text-indent: 0px;
    margin-bottom: 5px
}

.choose_list h3 a:hover {
    color: #ff4040
}

.choose_list .c_list_detail strong {
    color: #c00
}

.choose_list .c_list_detail del {
    color: #999;
    margin-left: 5px
}

.choose_list a.s_cart_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 77px;
    height: 22px;
    background-color: #ff4040;
    line-height: 22px;
    *line-height: 24px;
    text-align: center;
    color: #FFF;
    text-indent: 0px;
    margin: 5px 0px 0px;
    font-weight: bold
}

.choose_list a.s_cart_btn:hover {
    color: #FFF
}

.hd_search_tips_result a.hd_clear_history_record {
    display: none
}

.hd_search_tips_result .hd_cleared_searches {
    display: none
}

.hd_search_history .hd_total_sort,
.hd_search_history #recom1,
.hd_search_history #recom2,
.hd_search_history ul {
    display: none
}

.hd_search_history a.hd_clear_history_record {
    display: block;
    height: 24px;
    border: 1px solid #ccc;
    border-top: 0 none;
    background: #f2f2f2;
    color: #666;
    line-height: 24px;
    text-align: center
}

.hd_search_history a.hd_clear_history_record:hover {
    color: #c00
}

.hd_search_history .hd_cleared_searches {
    padding: 30px 0;
    border: 1px solid #ccc;
    color: #666;
    text-align: center
}

.hd_search_history li a {
    display: block;
    height: 25px;
    width: 138px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
    color: #333;
    font-size: 12px;
    line-height: 25px;
    text-indent: .5em
}

.hd_search_history li.haslist a {
    width: auto
}

.hd_search_history .hd_search_history_new {
    display: block
}

.hd_search_history_new {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.08);
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px
}

.hd_search_history_new.hd_search_history_new_global {
    width: 420px
}

.hd_search_history_new .hd_s_history {
    width: 225px;
    border-right: 1px solid #e5e5e5;
    background-color: #fff;
    float: left;
    padding-bottom: 9999px;
    margin-bottom: -9999px
}

.hd_search_history_new .hd_s_history.hd_s_history_global {
    width: 215px
}

.hd_search_history_new .hd_s_history dt {
    height: 16px;
    padding: 11px 0 8px 12px;
    color: #999;
    line-height: 16px
}

.hd_search_history_new .hd_s_history dt a {
    display: block;
    float: right;
    height: 16px;
    padding-right: 12px;
    color: #666
}

.hd_search_history_new .hd_s_history dt a .icon {
    font-size: 12px;
    padding-right: 2px
}

.hd_search_history_new .hd_s_history dt a:hover {
    color: #ff4040
}

.hd_search_history_new .hd_s_history dd a {
    display: block;
    height: 27px;
    line-height: 27px;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 0 5px 0 12px;
    color: #333
}

.hd_search_history_new .hd_s_history dd a:hover {
    background: #f8f8f8
}

.hd_search_history_new .hd_h_search,
.search_classify_detail .hd_property_list {
    float: left;
    width: 180px;
    height: 100%;
    overflow: hidden;
    background-color: #f8f8f8;
    border-left: 1px solid #e5e5e5;
    margin-left: -1px;
    padding: 0 12px 10003px 12px;
    margin-bottom: -9999px
}

.search_classify_detail .hd_property_list {
    max-height: 178px
}

.hd_search_history_new .hd_h_search dt,
.search_classify_detail .hd_property_list dt {
    padding: 11px 6px 11px 0;
    color: #666
}

.hd_search_history_new .hd_h_search dd,
.search_classify_detail .hd_property_list dd {
    float: left;
    margin: 0 4px 5px 0
}

.hd_search_history_new .hd_h_search dd a,
.search_classify_detail .hd_property_list dd a {
    display: block;
    float: left;
    max-width: 150px;
    height: 22px;
    padding: 0 10px;
    border: 1px solid #e1e1e1;
    background: #FFF;
    line-height: 22px;
    -moz-transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
    text-indent: 0;
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    word-break: break-all
}

.hd_search_history_new .hd_h_search dd a:hover,
.search_classify_detail .hd_property_list dd a:hover {
    border: 1px solid #ff4040;
    color: #ff4040
}

.hd_header_wrap {
    background-color: #fff;
    min-width: 1070px
}

.hd_top_bar .hd_topbar_home_li {
    overflow: hidden;
    width: 206px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative
}

.header_bp {
    height: 180px;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative
}

.header_bp .header_bp_img {
    width: 100%;
    height: 100%;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 1070px
}

.header_bp.header_bp_xs {
    height: 142px
}

.hd_header {
    position: absolute;
    height: 180px;
    background-repeat: no-repeat;
    top: 0px;
    left: 50%;
    margin-left: -535px
}

.hd_header .hd_logo_area {
    float: left;
    position: relative;
    width: 300px;
    height: 140px
}

.hd_header .hd_logo_area .hd_logo {
    position: relative;
    display: block;
    width: 140px;
    height: 140px;
    margin-top: 1px
}

.hd_header .hd_logo_area .hd_logo img {
    max-width: 100%;
    max-height: 100%
}

.hd_header .hd_logo_area .hd_slogan {
    display: table;
    width: 160px;
    height: 90px;
    position: absolute;
    right: 0;
    top: 30px
}

.hd_header .hd_logo_area .hd_slogan .inner {
    display: table-cell;
    vertical-align: middle
}

.hd_header .hd_logo_area .hd_slogan img {
    max-width: 100%;
    max-height: 100%;
    width: 160px;
    height: 90px
}

.hd_header .hd_header_right {
    position: relative;
    float: right;
    width: 650px;
    padding-top: 50px;
    z-index: 1001
}

.hd_header .hd_head_search {
    position: relative;
    z-index: 501;
    padding-top: 40px
}

.hd_header .hd_search_form {
    position: absolute;
    top: 0;
    left: 0
}

.hd_header .hd_search_form .hd_fixed_logo {
    display: none;
    float: left;
    margin-right: 70px
}

.hd_header .hd_search_fixed {
    position: fixed;
    top: -60px;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 60px;
    -webkit-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.05);
    background-color: #fff
}

.hd_header .hd_search_fixed .hd_search_wrap {
    _display: inline;
    float: left;
    margin: 10px 0 0 0
}

.hd_header .hd_search_fixed .hd_search_wrap .hd_search_ipt {
    width: 687px;
    background-color: #fff
}

.hd_header .hd_search_fixed .hd_fixed_logo {
    display: block;
    _display: inline;
    width: 150px;
    height: 60px
}

.hd_header .hd_search_fixed .hd_fixed_logo img {
    width: 150px;
    height: 60px
}

.hd_header .hd_search_fixed .hd_search_tips_result {
    display: none
}

.hd_header .hd_search_fixed .hd_fixed_wrap {
    width: 1070px;
    margin: 0 auto
}

.hd_header .hd_search_wrap {
    position: relative;
    z-index: 501;
    padding: 2px;
    _padding: 2px 2px 0px 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #ff4040
}

.hd_header .hd_search_wrap label {
    position: absolute;
    top: 2px;
    left: 32px;
    line-height: 36px;
    color: #aaa;
    font-size: 14px;
    cursor: text
}

.hd_header .hd_search_wrap .hd_search_ipt {
    float: left;
    width: 406px;
    height: 36px;
    outline: 0 none;
    border: 0 none;
    padding-left: 32px;
    font-size: 14px;
    color: #333;
    line-height: 36px
}

.hd_header .hd_search_wrap .hd_search_btn {
    float: left;
    width: 50px;
    height: 36px;
    border: 0 none;
    background-color: #ff4040;
    text-align: center;
    line-height: 36px;
    color: #fff;
    cursor: pointer;
    outline: 0
}

.hd_header .hd_search_wrap .hd_search_btn i {
    font-size: 24px;
    text-decoration: none;
    font-style: normal
}

.hd_header .hd_hot_search {
    height: 19px;
    padding-top: 8px;
    padding-left: 32px;
    overflow: hidden
}

.hd_header .hd_hot_search a {
    text-decoration: none;
    float: left;
    margin-right: 10px;
    line-height: 19px;
    font-size: 14px;
    color: #aaa
}

.hd_header .hd_hot_search a:hover {
    color: #333
}

.hd_header .hd_mini_cart {
    position: absolute;
    z-index: 501;
    top: 50px;
    right: 0;
    cursor: pointer
}

.hd_header .hd_mini_cart .hd_prism_cart {
    text-decoration: none;
    display: block;
    width: 120px;
    height: 20px;
    overflow: hidden;
    padding: 9px 0 9px;
    border: 1px solid #e2e2e2;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    line-height: 20px;
    color: #333;
    font-size: 16px
}

.hd_header .hd_mini_cart .hd_prism_cart:hover {
    background-color: #fcfcfc
}

.hd_header .hd_mini_cart .hd_prism_cart em {
    margin-right: 6px;
    font-size: 18px;
    color: #272636
}

.hd_header .hd_mini_cart .hd_c_num {
    position: absolute;
    z-index: 601;
    top: -5px;
    right: 0;
    min-width: 12px;
    height: 18px;
    padding: 0 3px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: #ff4040;
    color: #fff;
    font-family: Tahoma;
    font-size: 12px;
    text-decoration: none;
    line-height: 17px;
    text-align: center
}

.hd_header .hd_header_nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 38px;
    line-height: 38px
}

.hd_header .hd_header_nav .category-list-root {
    position: absolute;
    width: 140px;
    height: 100%
}

.hd_header .hd_header_nav .category-list-root.category-list-root_global:hover .category-list {
    border-top: 2px solid #ff4040
}

.hd_header .hd_header_nav .category-title {
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background-color: #ff4040;
    cursor: pointer
}

.hd_header .hd_header_nav .category-title.category-title_global {
    padding-top: 2px
}

.hd_header .hd_header_nav .category-title .icon-menu {
    padding-right: 13px
}

.hd_header .hd_header_nav .category-list {
    display: none;
    position: absolute;
    top: 38px;
    left: 0;
    width: 1068px;
    height: 410px;
    background-color: #fff;
    border: 1px solid #ff4040;
    z-index: 1001
}

.hd_header .hd_header_nav .category-list .column-item {
    display: inline-block;
    float: left;
    width: 155px;
    padding-left: 22px;
    margin: 30px 0;
    border-right: 1px solid #e9e9e9
}

.hd_header .hd_header_nav .category-list .column-item:last-child {
    border-right: 0
}

.hd_header .hd_header_nav .category-list .category-item {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 175px;
    position: relative;
    color: #333;
    text-align: left
}

.hd_header .hd_header_nav .category-list .category-item:nth-child(1) .inner {
    top: -6px
}

.hd_header .hd_header_nav .category-list .category-item:nth-child(2) .title {
    padding-top: 12px
}

.hd_header .hd_header_nav .category-list .category-item .inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0
}

.hd_header .hd_header_nav .category-list .category-item .title {
    font-size: 14px;
    line-height: 19px;
    padding-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-weight: bold
}

.hd_header .hd_header_nav .category-list .category-item .text {
    float: left;
    width: 50%;
    display: inline-block;
    line-height: 16px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    height: 16px
}

.hd_header .hd_header_nav .category-list .category-item .text a:hover {
    font-weight: bold
}

.hd_header .hd_header_nav .nav-list {
    padding-left: 140px;
    font-size: 16px;
    color: #333;
    overflow: hidden;
    height: 100%
}

.hd_header .hd_header_nav .nav-list li {
    float: left;
    margin-left: 30px;
    cursor: pointer
}

.hd_header .hd_header_nav .nav-list a:hover {
    color: #ff4040
}

.hd_header .hd_search_red .hd_search_wrap {
    -moz-border-radius: 100px;
    border-radius: 100px
}

.hd_header .hd_search_red .hd_search_wrap .hd_search_ipt {
    width: 406px;
    -moz-border-radius-topleft: 100px;
    border-top-left-radius: 100px;
    -moz-border-radius-bottomleft: 100px;
    border-bottom-left-radius: 100px
}

.hd_header .hd_search_red .hd_search_wrap .hd_search_btn {
    width: 68px;
    -moz-border-radius-topright: 100px;
    border-top-right-radius: 100px;
    -moz-border-radius-bottomright: 100px;
    border-bottom-right-radius: 100px
}

.hd_header .hd_search_red .hd_search_wrap .hd_search_btn i {
    color: #fff
}

.hd_header .hd_search_normal .hd_search_wrap {
    -moz-border-radius: 100px;
    border-radius: 100px;
    padding: 1px;
    border: 1px solid #e2e2e2;
    background: 0
}

.hd_header .hd_search_normal .hd_search_wrap:hover {
    border: 1px solid #ff4040;
    cursor: pointer
}

.hd_header .hd_search_normal .hd_search_wrap:hover .hd_search_ipt {
    background-color: #fff !important
}

.hd_header .hd_search_normal .hd_search_wrap label {
    top: 1px;
    line-height: 38px;
    color: #666
}

.hd_header .hd_search_normal .hd_search_wrap .hd_search_ipt {
    width: 476px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 38px;
    line-height: 38px;
    color: #333;
    background: #fcfcfc
}

.hd_header .hd_search_normal .hd_search_wrap .hd_search_btn {
    position: absolute;
    height: 38px;
    right: 0;
    background-color: transparent;
    color: #333;
    text-indent: -11px;
    -moz-border-radius-topright: 100px;
    border-top-right-radius: 100px;
    -moz-border-radius-bottomright: 100px;
    border-bottom-right-radius: 100px
}

.hd_header .hd_search_normal .hd_search_wrap .hd_search_btn i {
    color: #666
}

.hd_header .hd_search_normal .hd_search_wrap .hd_search_btn i:hover {
    color: #333
}

.hd_header.hd_header_clear {
    height: 140px
}

.w980_2018 .hd_header_wrap .wrap {
    width: 980px
}

.w980_2018 .hd_top_bar .hd_topbar_right .hd_menu .icon {
    display: none
}

.w980_2018 .hd_top_bar .hd_topbar_right .hd_menu_downloadapp .icon {
    display: none
}

.w980_2018 .hd_top_bar .hd_topbar_right .hd_login {
    padding: 0 4px
}

.w980_2018 .hd_top_bar .hd_topbar_right .hd_menu_downloadapp {
    padding: 0 8px;
    min-width: 30px
}

.w980_2018 .hd_top_bar .hd_topbar_right .hd_menu {
    padding: 0 8px;
    min-width: 30px
}

.w980_2018 .hd_header {
    margin-left: -490px
}

.w980_2018 .hd_top_bar .hd_topbar_right .hd_qrcode_bg {
    left: -46px
}

.w980_2018 .hd_header .hd_header_nav .category-list {
    width: 978px
}

.w980_2018 .hd_header .hd_header_nav .category-list .column-item {
    padding-left: 14px;
    width: 148px
}

.w980_2018 .hd_header_wrap {
    min-width: 980px
}

.w980_2018 .hd_header_right {
    width: 640px
}

.w980_2018 .hd_header .hd_search_red .hd_search_wrap .hd_search_ipt {
    width: 398px;
    padding-left: 30px
}

.w980_2018 .hd_header .hd_header_nav .category-list-root {
    width: 50px
}

.w980_2018 .hd_header .hd_header_nav .category-title .icon-menu {
    margin-left: 16px
}

.w980_2018 .hd_header .hd_header_nav .category-title {
    text-align: left
}

.w980_2018 .hd_header .hd_header_nav .nav-list {
    padding-left: 50px
}

.w1440_2018 .hd_header_wrap .wrap {
    width: 1440px
}

.w1440_2018 .hd_header {
    margin-left: -720px
}

.w1440_2018 .hd_header .hd_header_right {
    width: 980px
}

.w1440_2018 .hd_header .hd_search_red .hd_search_wrap .hd_search_ipt {
    width: 696px
}

.w1440_2018 .hd_search_history_new.hd_search_history_new_global {
    width: 710px
}

.w1440_2018 .hd_search_tips_result.hd_search_tips_result_global {
    width: 710px
}

.w1440_2018 .hd_header .hd_header_right {
    right: 30px
}

.w1440_2018 .hd_header .hd_header_nav .category-list {
    width: 1440px
}

.w1440_2018 .hd_header .hd_header_nav .category-list .column-item {
    width: 189px;
    padding-left: 50px
}

.w1440_2018 .hd_search_history_new .hd_s_history.hd_s_history_global {
    width: 505px
}

.w1440_2018 .hd_header .hd_header_nav .category-list .category-item .text {
    width: 39.5%
}

.hd_mini_cart.cart_fixed {
    float: right;
    position: relative;
    top: 0;
    right: 0;
    margin-top: 10px
}

.mod_topbanner_wrap .index_topbanner {
    position: relative;
    overflow: hidden
}

.mod_topbanner_wrap .big_topbanner {
    width: 1070px;
    height: 150px;
    overflow: unset !important
}

.mod_topbanner_wrap .big_topbanner img {
    width: 1070px;
    height: 150px
}

.mod_topbanner_wrap .small_topbanner {
    display: none;
    width: 1070px;
    height: 80px;
    overflow: unset !important
}

.mod_topbanner_wrap .small_topbanner img {
    width: 1070px;
    height: 80px
}

.mod_topbanner_wrap a.close_btn {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 23px;
    font-size: 20px;
    color: #fff;
    font-family: "\5b8b\4f53"
}

.mod_topbanner_wrap a.close_btn:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#4C000000', endColorstr='#4C000000');
    background-color: rgba(0, 0, 0, 0.3)
}

@charset "UTF-8";

.ft_wrap {
    background: #FFF
}

.ft_footer_service {
    padding: 30px 0;
    border-bottom: 1px solid #ebebeb
}

.ft_footer_service a {
    float: left;
    display: block;
    _display: inline;
    width: 205px;
    overflow: hidden;
    margin: 0 51px
}

.ft_footer_service a img {
    float: left;
    display: block;
    _display: inline;
    width: 66px;
    height: 66px;
    margin-right: 15px
}

.ft_footer_service a b {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    color: #333
}

.ft_footer_service a span {
    font-size: 14px;
    color: #999;
    line-height: 26px
}

.ft_service_link {
    padding: 20px 0 20px;
    overflow: hidden
}

.ft_service_link dl {
    float: left;
    display: block;
    _display: inline;
    width: 195px
}

.ft_service_link dl dt {
    height: 32px;
    padding: 0 8px;
    font-size: 14px;
    color: #666;
    line-height: 32px;
    overflow: hidden;
    font-family: "Microsoft YaHei";
    color: #666;
    font-weight: bold
}

.ft_service_link dl dd {
    height: 24px;
    padding: 0 8px;
    line-height: 24px;
    overflow: hidden;
    white-space: normal;
    font-size: 12px
}

.ft_service_link dl dd a {
    color: #666
}

.ft_service_link dl dd a:hover {
    color: #e60012
}

.ft_help_list {
    float: left;
    padding-left: 15px
}

.ft_code_wrap {
    width: 280px;
    overflow: hidden;
    float: left;
    margin-right: -50px
}

.ft_code_wrap .ft_mobile_code {
    float: left;
    margin-right: 50px;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #666
}

.ft_code_wrap .ft_mobile_code img {
    width: 90px;
    height: 90px
}

#footer p {
    color: #666;
    text-align: center;
    text-indent: 0;
    line-height: 100%;
    margin: 15px 0;
    padding: 0
}

.ft_pic_link {
    display: block;
    padding: 10px 0 20px;
    text-align: center;
    font-size: 0
}

.ft_pic_link a {
    display: inline-block;
    margin: 0 4px
}

.ft_pic_link span {
    display: inline-block;
    margin: 0 4px
}

.ft_pic_link a.gs {
    cursor: text
}

.ft_footer_link a {
    color: #333;
    margin: 0px 3px
}

.ft_footer_link a:hover {
    color: #C00
}

.w1200 .ft_footer_service a {
    margin: 0 45px
}

.w1200 .ft_help_list {
    padding-left: 40px
}

.w1200 .ft_service_link dl {
    width: 168px
}

.w1440 .ft_footer_service a {
    margin: 0 75px
}

.w1440 .ft_help_list {
    padding: 0 90px 0 75px
}

.w1440 .ft_service_link dl {
    width: 180px
}

.ft_footer_service a {
    margin-right: 81px !important;
    margin-left: 0px !important;
    cursor: default
}

.ft_footer_service a:last-child {
    margin-right: 0px !important
}

div.popGeneral {
    display: block;
    position: fixed;
    _position: absolute;
    left: 50%;
    bottom: -100%;
    background-color: #fff;
    border: 5px solid #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    z-index: 999999;
    float: left
}

div.popGeneral .top_tcgeneral {
    height: 45px;
    line-height: 45px;
    background: #fff;
    border: 0;
    padding: 0
}

div.popGeneral .top_tcgeneral h4 {
    height: 45px;
    margin: 0 10px;
    padding: 0;
    padding-left: 15px;
    line-height: 40px;
    background: url(../images/tit_repeat.jpg?62d1166) 0 bottom repeat-x;
    color: #333;
    font-size: 14px;
    font-family: 'simsun';
    font-family: 'Microsoft YaHei', Tahoma, sans-serif
}

div.popGeneral .top_tcgeneral .close_tcg {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 18px;
    height: 18px;
    overflow: hidden;
    padding-right: 0;
    background: 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #9f9f9f;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    transition: .4s ease
}

div.popGeneral .top_tcgeneral .close_tcg:hover {
    font-size: 22px;
    color: #545454
}

div.popGeneral .pop_btn_box {
    text-align: center;
    margin: 20px 0
}

div.popGeneral .pop_btn_box button {
    display: inline-block;
    height: 28px;
    margin: 0 4px;
    padding: 0 20px;
    border: 1px solid #ff4141;
    background-color: #ff5c4d;
    border-radius: 3px;
    color: #fff;
    font-family: 'microsoft yahei';
    cursor: pointer;
    line-height: 26px
}

div.popGeneral .pop_btn_box .cancel_btn {
    border-color: #e0e0e0;
    background-color: #fafafa;
    color: #666
}

div.popGeneral .pop_msgBxShow {
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center
}

div.popGeneral .pop_msgBxShow .msgInfoBxShow {
    overflow: hidden;
    padding-top: 26px
}

div.popGeneral .msgBxShow {
    min-width: 250px;
    max-width: 500px;
    padding: 0px 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center
}

div.popGeneral .msgBxShow .msgInfoBxShow {
    overflow: hidden;
    padding-top: 26px
}

div.popGeneral .icon_tips {
    position: relative;
    top: 10px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    background: url(../images/sprite_alert.png?62d1166) no-repeat
}

div.popGeneral .icon_warning {
    background-position: -60px -20px
}

div.popGeneral .icon_success {
    background-position: 0px -20px
}

.hd_cart_pop .hd_pop_content {
    position: relative;
    width: 485px;
    padding: 50px 0 20px 0;
    border: 1px solid #b1b1b1;
    background: #FFF
}

.hd_cart_pop .hd_colse_btn {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: url(../images/indexhead_sprite_new.png?62d1166) no-repeat -260px -95px;
    cursor: pointer
}

.hd_cart_pop .hd_pop_tips {
    font-size: 18px;
    font-family: "Microsoft YaHei";
    font-weight: bold;
    line-height: 23px;
    text-align: center
}

.hd_cart_pop .hd_pop_tips i {
    display: inline-block;
    width: 23px;
    height: 23px;
    margin-right: 14px;
    background: url(../images/indexhead_sprite_new.png?62d1166) no-repeat -460px -70px;
    vertical-align: middle
}

.hd_cart_pop .hd_pop_tips .hd_error_icon {
    background-position: -300px -85px
}

.hd_cart_pop .hd_pop_btn {
    width: 385px;
    margin: 0 auto;
    padding: 18px 0 25px 0;
    text-align: center
}

.hd_cart_pop .hd_pop_btn a {
    display: inline-block;
    width: 123px;
    height: 41px;
    margin: 0 5px;
    line-height: 41px;
    text-align: center;
    font-size: 14px;
    font-family: "Microsoft YaHei"
}

.hd_cart_pop .hd_pop_btn .hd_btn_l {
    border: 1px solid #ddd;
    background: #fcfcfc;
    color: #666
}

.hd_cart_pop .hd_pop_btn .hd_btn_r {
    border: 1px solid #ff4141;
    background: #ff5c4d;
    color: #FFF
}

.hd_cart_pop .hd_recommend_wrap {
    position: relative
}

.hd_cart_pop .hd_recommend_wrap p {
    margin: 0 50px;
    border-top: 1px solid #f2f2f2;
    line-height: 30px;
    color: #999
}

.hd_cart_pop .hd_recommend_list {
    position: relative;
    width: 385px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto
}

.hd_cart_pop .hd_recommend_list ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 10000px;
    height: 150px
}

.hd_cart_pop .hd_recommend_list li {
    float: left;
    width: 85px;
    margin-right: 15px
}

.hd_cart_pop .hd_recommend_list .hd_pop_img {
    display: block;
    width: 83px;
    height: 83px;
    border: 1px solid #ededed
}

.hd_cart_pop .hd_recommend_list .hd_pop_img img {
    width: 83px;
    height: 83px
}

.hd_cart_pop .hd_recommend_list a.hd_pop_name {
    display: block;
    height: 36px;
    overflow: hidden;
    color: #999;
    line-height: 18px
}

.hd_cart_pop .hd_recommend_list a.hd_pop_name:hover {
    color: #e60012
}

.hd_cart_pop .hd_recommend_list .hd_pop_price {
    display: block;
    text-align: center;
    color: #e60021;
    line-height: 20px
}

.hd_cart_pop .hd_recommend_wrap .hd_show_pre {
    position: absolute;
    left: 26px;
    _left: -26px;
    top: 30px;
    width: 24px;
    height: 86px;
    background: url(../images/indexhead_sprite_new.png?62d1166) no-repeat -230px -160px
}

.hd_cart_pop .hd_recommend_wrap .hd_show_next {
    position: absolute;
    right: 26px;
    top: 30px;
    width: 24px;
    height: 86px;
    background: url(../images/indexhead_sprite_new.png?62d1166) no-repeat -270px -160px
}

.hd_cart_pop .hd_error_tips {
    width: 340px;
    height: 40px;
    margin: 0 auto;
    padding: 20px 0;
    color: #666;
    line-height: 20px;
    text-align: center
}

.error {
    width: 700px;
    height: 328px;
    background: url(../images/error.jpg?62d1166) no-repeat;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 196px
}

.error_normal {
    width: 700px;
    height: 328px;
    background: url(../images/error_normal.jpg?62d1166) no-repeat;
    margin: 0 auto;
    margin-top: 60px;
    margin-bottom: 196px
}

.error .error_text {
    width: 405px;
    height: 25px;
    line-height: 25px;
    padding-left: 295px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: #333;
    font-weight: bold;
    padding-top: 65px
}

.error .returntext {
    width: 373px;
    height: 22px;
    line-height: 22px;
    padding-left: 327px;
    padding-top: 13px
}

.error .returntext a {
    color: #4484db;
    text-decoration: underline
}

.error .returntext a:hover {
    color: #f60;
    text-decoration: underline
}

.error_normal .error_text {
    width: 405px;
    height: 25px;
    line-height: 25px;
    padding-left: 295px;
    font-size: 20px;
    font-family: "微软雅黑";
    color: #333;
    font-weight: bold;
    padding-top: 65px
}

.error_normal .returntext {
    width: 373px;
    height: 22px;
    line-height: 22px;
    padding-left: 327px;
    padding-top: 13px
}

.error_normal .returntext a {
    color: #4484db;
    text-decoration: underline
}

.error_normal .returntext a:hover {
    color: #f60;
    text-decoration: underline
}

.error_normal .errortext {
    color: #666;
    font-size: 43px;
    font-family: Tahoma;
    font-weight: bold;
    padding-left: 496px;
    margin-top: 65px;
    line-height: 85px
}