/* SVN.committedRevision=e829f75 */
body, p, form, input, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
    list-style: none
}

body {
    margin: 0;
    padding: 0;
    list-style: none
}

body,
button,
input,
select,
textarea {
    font: 12px Arial, Helvetica, sans-serif;
    color: #333
}

input,
select,
textarea {
    font-size: 100%
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    text-decoration: none;
    color: #e60012
}

a.blue_link {
    color: #06c
}

a.blue_link:hover {
    color: #f60
}

.clearfix:after {
    display: block;
    content: ".";
    height: 0;
    visibility: hidden;
    clear: both;
    font-size: 0;
    line-height: 0
}

.clearfix {
    *zoom: 1
}

img {
    border: 0 none;
    vertical-align: top
}

em {
    font-style: normal
}

button::-moz-focus-inner {
    padding: 0;
    border: 0
}

.wrap {
    width: 980px;
    margin: 0 auto
}

.fl {
    float: left
}

.fr {
    float: right
}

.mt {
    margin-top: 10px
}

.ml {
    margin-left: 10px
}

.mt5 {
    margin-top: 5px
}

.mt10 {
    margin-top: 10px
}

.mb {
    margin-bottom: 10px
}

.none {
    display: none
}

.regist_header {
    padding: 16px;
    background: #FFF;
    border: 1px solid #e1e1e1
}

.regist_header .wrap {
    width: 1200px
}

.regist_header .logo {
    display: block;
    float: left;
    width: 54px;
    height: 48px
}

.regist_header_right {
    float: right;
    line-height: 18px;
    font-family: "SimSun";
    color: #999
}

.regist_header_right .help_wrap {
    position: relative;
    z-index: 1010;
    float: right;
    padding: 0 6px;
    margin-left: 25px;
    _display: inline
}

.regist_header_right .help_wrap a.hd_menu {
    padding-right: 18px;
    background: url(../img/regist.png?e829f75) no-repeat right -30px;
    color: #333
}

.regist_header_right .help_wrap a.hd_menu:hover {
    color: #e60012
}

.regist_header_right .help_wrap a.hd_menu .help_ico {
    width: 16px;
    height: 18px;
    display: inline-block;
    margin-right: 6px;
    background: url(../img/regist.png?e829f75) no-repeat -344px 0;
    vertical-align: middle
}

.regist_header_right .help_wrap .hd_menu_list {
    display: none;
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 98px;
    padding-top: 21px;
    border: 1px solid #ccc
}

.regist_header_right .help_wrap {
    background: #FFF
}

.regist_header_right .help_wrap .hd_menu_list {
    display: none
}

.regist_header_right .help_wrap_hover .hd_menu_list {
    display: block;
    position: absolute;
    top: -4px;
    right: 0;
    width: 98px;
    padding-top: 25px;
    border: 1px solid #ccc
}

.regist_header_right .help_wrap_hover .hd_menu_list ul {
    background: #FFF
}

.regist_header_right .help_wrap_hover .hd_menu_list a {
    height: 24px;
    display: block;
    padding-left: 25px;
    border-top: 1px dotted #e4e4e4;
    background: #FFF;
    line-height: 24px
}

.regist_header_right .english_edition {
    display: block;
    float: right;
    height: 16px;
    padding-left: 8px;
    border-left: 1px solid #ccc
}

#simplefooter {
    width: 980px;
    margin: 20px auto 0;
    text-align: center
}

#simplefooter p {
    margin-top: 10px;
    color: #333
}

#simplefooter a {
    margin: 0 8px;
    color: #333
}

#simplefooter a:hover {
    color: #c00
}

/* @charset "utf-8"; */

.y_regist_wrap {
    position: relative;
    border-bottom: 1px solid #f4f4f4;
    background: #fcfcfc;
    padding: 30px 0 40px
}

.y_regist_model {
    position: relative;
    z-index: 150;
    width: 330px;
    margin: 0 auto
}

.y_regist_tit {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    color: #333
}

.y_regist_form li {
    position: relative;
    min-height: 52px;
    _height: 52px;
    margin-top: 10px;
    margin-right: -200px
}

.y_regist_form .y_same_item {
    position: relative;
    z-index: 2;
    width: 328px;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 3px
}

.y_regist_form .ishort_li .y_same_item,
.y_regist_form .short_opacity_bg {
    width: 192px
}

.y_regist_form .ysame_input {
    position: relative;
    z-index: 2;
    width: 288px;
    height: 20px;
    margin-top: 15px;
    padding: 0px 20px;
    background: 0;
    border: 0;
    outline: 0;
    font-size: 14px;
    line-height: 20px;
    color: #666
}

.y_regist_form .ishort_li .y_same_item .ysame_input {
    width: 152px
}

.y_regist_form .y_set_password {
    width: 268px;
    padding: 0px 20px 0px 20px;
}

.y_regist_form .y_same_label {
    position: absolute;
    left: 20px;
    top: 0;
    display: inline-block;
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    color: #666
}

.y_regist_form .same_code_btn {
    position: relative;
    z-index: 2;
    width: 126px;
    height: 50px;
    margin-left: 10px;
    text-align: center;
    background-color: #57565f;
    line-height: 52px;
    color: #fff;
    cursor: default;
    border-radius: 2px;
    font-size: 14px
}

.y_regist_form .r_require_code {
    border: 1px solid #dedede;
    background-color: #f3f3f3;
    cursor: pointer;
    color: #666
}

.y_agreement_word {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: #666;
    text-indent: 1em
}

.y_agreement_word a {
    color: #06c;
    text-decoration: none;
    font-size: 12px
}

a.y_agreement_btn {
    display: block;
    width: 330px;
    height: 52px;
    margin-top: 6px;
    background-color: #ff3c3c;
    font-size: 16px;
    line-height: 52px;
    color: #fff;
    text-align: center;
    border-radius: 2px
}

a.y_agreement_btn:hover {
    background-color: #d72226
}

a.y_agreement_btn_loading,
a.y_agreement_btn_loading:hover {
    width: 200px;
    padding-left: 130px;
    /*background: #ff5151 url(../images/loading_btn.gif?e829f75) no-repeat 183px center;*/
    text-align: left
}

.y_regist_form .r_yzm_code {
    position: relative;
    z-index: 2;
    display: inline-block;
    width: 126px;
    height: 52px;
    margin-left: 10px;
    border-radius: 2px
}

.y_regist_form .r_yzm_code img {
    width: 124px;
    height: 50px;
    border: 1px solid #dedede;
    border-radius: 2px
}

.y_regist_form .r_yzm_code span.yzm_change_mask {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 126px;
    height: 52px
}

.y_regist_form .r_yzm_code span.yzm_change_mask i {
    display: inline-block;
    position: relative;
    z-index: 2;
    width: 126px;
    height: 52px;
    text-align: center;
    font-size: 14px;
    line-height: 52px;
    color: #fff
}

.y_regist_form .r_yzm_code span.yzm_change_mask em {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 126px;
    height: 52px;
    background-color: #000;
    opacity: .5;
    filter: alpha(opacity=50)
}

.y_regist_form .r_yzm_code:hover span.yzm_change_mask {
    display: inline-block
}

.y_regist_form li.ifocus .y_same_item {
    border: 1px solid #cfcfcf
}

.item_icon_sure {
    display: none;
    position: absolute;
    left: 348px;
    top: 13px;
    width: 24px;
    height: 24px;
    background: url(../img/y_regist_icon.png?e829f75) 0 0 no-repeat;
    /*_background: url(../img/y_regist_icon_png8.png?e829f75) 0 0 no-repeat*/
}

.y_regist_form .caplock_open {
    background: url(../img/regist_new.png?e829f75) 290px 0 no-repeat
}

.y_regist_tips {
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    left: 348px;
    top: 0;
    font-size: 12px;
    color: #fff;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -ms-transform: scale(0);
    transition: All .5s cubic-bezier(.88, .32, .36, 1.58);
    -webkit-transition: All .5s cubic-bezier(.88, .32, .36, 1.58);
    -moz-transition: All .5s cubic-bezier(.88, .32, .36, 1.58);
    -o-transition: All .5s cubic-bezier(.88, .32, .36, 1.58);
    -ms-transform-origin: left;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left
}

.ifocus .y_regist_tips {
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1)
}

.y_regist_tips_keywords {
    display: none;
    position: absolute;
    left: 348px;
    top: 9px;
    font-size: 12px;
    color: #fff
}

.y_regist_tips .y_regtip_rel {
    padding: 10px;
    background: #e4e4e4
}

.y_regist_tips .y_regtip_rel .y_tips_words {
    max-width: 160px;
    line-height: 20px;
    color: #666
}

.y_regist_tips .y_regtip_rel i,
.y_regist_tips_keywords .y_regtip_rel i {
    position: absolute;
    left: -10px;
    top: 50%;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    margin-top: -5px;
    border-color: transparent #e4e4e4 transparent transparent;
    border-style: dashed solid dashed dashed;
    border-width: 5px;
    font-size: 0
}

.y_regist_tips .y_regtip_rel .tip_full_bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .3;
    filter: alpha(opacity=30);
    border-radius: 3px
}

.y_regist_tips_keywords .y_regtip_rel {
    width: 120px;
    padding: 10px;
    background: #e4e4e4
}

.y_regist_tips_red .y_regtip_rel i {
    border-color: transparent #fff4d7 transparent transparent
}

.y_regist_tips_red .y_regtip_rel {
    background: #fff4d7
}

.y_regist_tips_keywords .y_tips_words_key {
    height: 20px;
    overflow: hidden
}

.y_regist_tips_keywords .y_tips_words_key em {
    float: left;
    display: inline-block;
    width: 30px;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    background-color: #fafafa
}

.y_regist_tips_keywords .y_tips_words_key b.em_words {
    float: left;
    display: inline-block;
    font-weight: normal;
    margin-left: 2px;
    color: #666
}

.y_regist_tips_keywords .y_tips_words_key em.em_redA {
    background-color: #fa592e
}

.y_regist_tips_keywords .y_tips_words_key em.em_yellowA1 {
    background-color: #f6ba52
}

.y_regist_tips_keywords .y_tips_words_key em.em_greenA1 {
    background-color: #78ce2e
}

.y_regist_right {
    display: none;
    position: absolute;
    left: 348px;
    top: 14px;
    width: 23px;
    height: 23px;
    background: url(../img/ipt_right.png) no-repeat 0px 0
}

.y_regist_form li.ipt_right .y_regist_right {
    display: block
}

.y_regist_form li.ipt_wrong .y_same_item {
    border: 1px solid #ff3c3c
}

@keyframes twinkle1 {
    0% {
        opacity: .2
    }

    25% {
        opacity: .3
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: .2
    }
}

@-moz-keyframes twinkle1 {
    0% {
        opacity: .2
    }

    25% {
        opacity: .3
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: .2
    }
}

@-webkit-keyframes twinkle1 {
    0% {
        opacity: .2
    }

    25% {
        opacity: .3
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: .2
    }
}

@-o-keyframes twinkle1 {
    0% {
        opacity: .2
    }

    25% {
        opacity: .3
    }

    50% {
        opacity: 0
    }

    100% {
        opacity: .2
    }
}

@keyframes twinkle2 {
    0% {
        opacity: .05
    }

    50% {
        opacity: .2
    }

    100% {
        opacity: .05
    }
}

@-moz-keyframes twinkle2 {
    0% {
        opacity: .05
    }

    50% {
        opacity: .2
    }

    100% {
        opacity: .05
    }
}

@-webkit-keyframes twinkle2 {
    0% {
        opacity: .05
    }

    50% {
        opacity: .2
    }

    100% {
        opacity: .05
    }
}

@-o-keyframes twinkle2 {
    0% {
        opacity: .05
    }

    50% {
        opacity: .2
    }

    100% {
        opacity: .05
    }
}

.r_icon1 {
    animation: twinkle1 8s infinite;
    -moz-animation: twinkle1 8s infinite;
    -webkit-animation: twinkle1 8s infinite;
    -o-animation: twinkle1 8s infinite
}

.r_icon2 {
    animation: twinkle2 6s 3s infinite;
    -moz-animation: twinkle2 6s 3s infinite;
    -webkit-animation: twinkle2 6s 3s infinite;
    -o-animation: twinkle2 6s 3s infinite
}

.r_icon3 {
    animation: twinkle2 8s 10s infinite;
    -moz-animation: twinkle2 8s 10s infinite;
    -webkit-animation: twinkle2 8s 10s infinite;
    -o-animation: twinkle2 8s 10s infinite
}

.r_icon1 {
    position: absolute;
    top: 27px;
    left: 50%;
    z-index: 120;
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    background: url(../img/r_icon1.png) no-repeat;
    /*_background: url(../img/r_icon1.png) no-repeat;*/
    opacity: .2;
    filter: alpha(opacity=20)
}

.r_icon2 {
    position: absolute;
    top: 27px;
    left: 50%;
    z-index: 120;
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    background: url(../img/r_icon2.png) no-repeat;
    opacity: .05;
    filter: alpha(opacity=5)
}

.r_icon3 {
    position: absolute;
    top: 27px;
    left: 50%;
    z-index: 120;
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    background: url(../img/r_icon3.png) no-repeat;
    opacity: .05;
    filter: alpha(opacity=5)
}

.r_icon4 {
    position: absolute;
    top: 27px;
    left: 50%;
    z-index: 120;
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    background: url(../img/r_icon4.png) no-repeat;
    opacity: .05;
    filter: alpha(opacity=5)
}

.r_icon5 {
    position: absolute;
    top: 27px;
    left: 50%;
    z-index: 120;
    width: 1200px;
    height: 500px;
    margin-left: -600px;
    background: url(../img/r_icon5.png) no-repeat;
    opacity: .05;
    filter: alpha(opacity=5)
}

.regist_popWin {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 100002;
    padding: 5px;
    /*filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#33000000', endColorstr='#33000000');*/
    background-color: rgba(0, 0, 0, 0.2)
}

.regist_popWin .regist_popWin_con {
    padding-bottom: 30px;
    border: 1px solid #b8b8b8;
    background: #fff
}

.regist_popWin .regist_popWin_con .regist_popWin_title {
    position: relative;
    height: 22px
}

.regist_popWin .regist_popWin_con .regist_popWin_title .regist_popWin_closeBtn {
    position: absolute;
    top: 13px;
    right: 10px;
    width: 10px;
    height: 10px;
    overflow: hidden;
    background: url(../img/regist.png?e829f75) no-repeat -100px -755px
}

.regist_popWin .regist_popWin_Info {
    position: relative;
    overflow: hidden;
    padding: 30px 10px
}

.regist_popWin .regist_popWin_main {
    float: left;
    position: relative;
    left: 50%
}

.regist_popWin .regist_popWin_mainCon {
    position: relative;
    right: 50%
}

.regist_popWin .regist_popWin_optBtn {
    text-align: center
}

.ipt_border {
    padding: 2px;
    border: 1px solid #dedede
}

.regist_success {
    width: 405px
}

.regist_success .tit {
    line-height: 26px;
    font-size: 16px;
    font-weight: bold
}

.regist_success i {
    display: inline-block;
    width: 32px;
    height: 27px;
    margin-right: 5px;
    background: url(../img/regist.png?e829f75) no-repeat -50px -910px;
    vertical-align: middle
}

.regist_success .popWin_tips {
    color: #999;
    text-align: center
}

.regist_success_new {
    width: 428px
}

.regist_success_new .regist_popWin_con {
    height: 260px;
    /*background: url(../img/success_bg.jpg?e829f75) no-repeat*/
}

.regist_success_new .tit {
    font-size: 18px;
    color: #333;
    text-align: center
}

.regist_success_new .tit i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url(../img/regist.png?e829f75) no-repeat 0 -41px;
    vertical-align: middle
}

.regist_success_new .pop_left {
    float: left;
    padding: 35px 0 0 60px
}

.regist_success_new .pop_left p {
    color: #999;
    line-height: 30px
}

.regist_success_new .pop_left .pop_bold {
    font-size: 14px;
    color: #666;
    line-height: 22px;
    font-weight: bold
}

.regist_success_new a.pop_btn {
    display: block;
    width: 110px;
    height: 36px;
    margin-top: 10px;
    background: url("../img/regist.png?e829f75") no-repeat scroll 0 -828px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center
}

.regist_success_new .pop_right {
    float: right;
    padding: 47px 67px 0 0
}

.regist_success_new .pop_right img {
    display: block;
    width: 70px;
    height: 70px
}

.regist_success_newst {
    width: 428px
}

.regist_success_newst .regist_popWin_con {
    height: 255px;
    /*background: url(../img/regist_success.jpg?e829f75) no-repeat*/
}

.regist_success_newst .regist_popWin_Info {
    padding: 20px 10px;
    text-align: center
}

.regist_success_newst .tit {
    font-size: 18px;
    color: #333;
    text-align: center;
    font-weight: bold
}

.regist_success_newst .tit i {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 12px;
    background: url(../img/regist.png?e829f75) no-repeat 0 -41px;
    vertical-align: middle
}

.regist_success_newst .fuli {
    margin-top: 95px;
    font-size: 14px;
    color: #FFF;
    line-height: 30px
}

.regist_success_newst .shopping_btn {
    display: inline-block;
    width: 110px;
    height: 36px;
    margin-top: 32px;
    background: url("../img/regist.png?e829f75") no-repeat scroll 0 -828px;
    line-height: 36px;
    color: #fff;
    font-size: 14px;
    text-align: center
}

.pop_mask {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100001;
    width: 100%;
    background: #000;
    opacity: .1;
    filter: alpha(opacity=10)
}